
	<style>

		canvas {
			height: 100%;
			position: fixed;
			top:0;
			bottom: 0;
			z-index: 1;
			right: 0;
			display: block;
			outline: 0px;
			margin-bottom: 1.5em;
			display: none;
		}
		body,html{
			background: #282828!important;
		}

		.overlay{
			text-align: justify;
			color:white;
			font-family: 'Montserrat';
			font-size:0.85em;
			line-height: 1.717;
			margin: 2vh 8vw;

			max-width: 90vw;
		}

		.baaki{
			margin-top: 8vh;
		}
		.logo{
			height:30%;
			margin-top:4vh;
			border:2px solid white;
			padding:1vh 1vw;
		}
		.header{
			border-bottom: 2px solid white;
			max-width: 30%;
			padding-bottom: 0px;
		}
		.section{
			margin-top: 40px;
			opacity: 0;
			width: 92%;
		}
		input{
			margin-top: 15px;
			background: none;
			outline: none;
			border:0;
			border-bottom: 1px solid white;
			transition:1s all ease;
			width: 80%;
			color: white;
			padding-bottom: 12px;
			font-family: 'Montserrat';
		}
		.btn{
			padding:10px;
			border:2px solid white;
			color:white;
			transition: 0.5s all ease;
			background: none;
			font-family: 'Montserrat';
			font-size: 1.2em;
			cursor: pointer;
			margin-top: 5vh;
			margin-bottom: 5vh;
			outline: none;
		}
		.btn:hover{
			color:#282828;
			background: white;
			outline: none;
		}
		input:focus{
		border-bottom: 1px solid #00a6f2;
		}

		@media (min-width: 767px){
			.overlay{
				visibility: visible;
				max-width: 35vw;
				margin: 5vh 8vw;
			}
			canvas{
				display: block;
			}
		}
	</style>
	<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src="js/processing.js" type="text/javascript"></script>
		<script type="text/javascript">
// convenience function to get the id attribute of generated sketch html element
function getProcessingSketchId () { return 'PGSandTrickleDown'; }
</script>


<body>
	<div id="content">
		<div>
			<canvas id="PGSandTrickleDown" data-processing-sources="res/PG_Sand_Trickle_Down.pde"
			width="100%" height="100%">
			<p>Your browser does not support the canvas tag.</p>
			<!-- Note: you can put any alternative content here. -->
		</canvas>
		<noscript>
			<p>JavaScript is required to view the contents of this page.</p>
		</noscript>
	</div>
</div>

<div class="overlay">

	<div class="baaki">
		<div class="section">
		<p>Outliers is an innovation platform to with a goal to encourage and promote open sourced technology and design projects that solve
		</div>

		<div class="section">
		<h4 class="header">MODEL</h4>
		<p>There are visionaries with great ideas but not many skills, people with many skillsets without a larger vision, people who know the ground realities but haven't been heard before. We want to get them all together in a platform that lets them discuss, propose projects, secure funding, implement and track their projects, get feedback and make connections. We want all of it to be open sourced and a culture of doing work where we all have a clear vision - make India a better place for us all, we will do this together.</p>
		</div>

		<div class="section">
		<h4 class="header">BACKGROUND</h4>
		<p>Outliers was born through a series of discussions, ideations and conversations we had as undergrads in IIT Kharagpur. We realized that we are a country of immense talent which is very poorly managed. We innovate, but often unconsciously, not making use of our powers together. Outliers aims to make the efforts more conscious, in a directed manner. As innovators ourselves, we understand how crucial getting encouragement and support is when we start and we aim to do just that.</p>
		</div>

		<div class="section">
		<h4 class="header">GET IN TOUCH</h4>
		<p>Outliers isn't really a startup, it is more like communicating a vision that we feel has reached it's right time now. If our idea resonates with you and if you wish to be part of the journey, drop your email here to receive updates and an early invitation to use the product when launched.</p>
		</div>
		<div class="formsection">
		<input id="emailAddress" type="email" placeholder="yourname@example.com">
		<br>
		<input id="message" type="textarea" placeholder="What do you think?">
		<br>
		<button class="btn">Submit</button>
		</div>

	</div>
</div>
</body>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
<script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<script>
  // Initialize Firebase
 $('li').removeClass('active');
  $('.vision').addClass('active');
  $(document).ready(function(){
  	$(".section").each(function(i) {
  $(this).delay(i*500).css({opacity: 0.0, visibility: "visible"}).animate({opacity: 1.0});
});
  // 	 var config = {
  //   apiKey: "AIzaSyAZ6D3J4QAplsYqrc8MWjBMAFqnGGpLUPA",
  //   authDomain: "outliers-7a244.firebaseapp.com",
  //   databaseURL: "https://outliers-7a244.firebaseio.com",
  //   projectId: "outliers-7a244",
  //   storageBucket: "outliers-7a244.appspot.com",
  //   messagingSenderId: "820859289787"
  // };
  // firebase.initializeApp(config);
  // var database=firebase.database();
  // var ref=database.ref('registration');
  // 	$('.btn').on('click',function(){
  // 		var emailAddress=$('#emailAddress').val();
  // 		var message=$('#message').val();
  // 		var data={
  // 			'email':emailAddress,
  // 			'message':message,
  // 			'time':new Date()
  // 		}

  // 		if(emailAddress.length>5)ref.push(data);
  // 		$('.formsection').fadeOut(function() {
  // 			$(this).text("Thank You!").fadeIn();
		// });
  // 	});
  });


</script>


