<link rel="stylesheet" type="text/css" href="css/projects.css">
<div class="container" style="margin-top:20vh;">


<div class="project_list">
  {{#each data}}
  <div class="row">
  	{{#each this}}
  	<div class="col-md-4 col-xs-6">
    <div class="project" data-id={{this.projectid}}>
	    <h2 class="projname">{{this.name}}</h2>
	    <p class="projdesc">{{this.description}}</p>
	</div>
</div>
	{{/each}}
  </div>
  {{/each}}
</div>


</div>


<script type="text/javascript">
 $('li').removeClass('active');
 $('.projects').addClass('active');
$('.project').click(function(){
window.location='/project/'+$(this).data('id');
});
</script>