html,body{
	background: #f4f4f7;
}
.project{
	background: #333;
	height:70vh;
	border-radius: 0.4rem;
	padding:3vw;
	 transition: all .2s ease-in-out;
	 cursor: pointer;
	 margin-top: 3vh;
}
.projname{
	text-transform: uppercase;
	font-family: 'Poppins';
	font-weight: 800;
}
.project:hover { transform: scale(0.98); }
.projdesc{
	font-family: 'Fira Sans';
	font-weight: 200;
	visibility: hidden;
}
.maker{
	font-style: italic;
}
@media (min-width: 767px){
	.projdesc{
		visibility: visible;
	}
	}