.navbar{
position: fixed;
z-index: 5;
background: #282828;
border:0;
margin-top: -1px;
color: white!important;
border-radius: 0;
box-shadow: 0;
height: 5vh;
top:0;
left:0;
right:0;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    min-height: 5vh;
    font-family: 'Montserrat';
}
html,body{
background:#efefef;
}
.imlo{
height: 150%;
margin-top: -5%;
}

.navbar-default .navbar-nav>.active>a{
	background-image: none;
}