.navbar{
position: fixed;
z-index: 150;
background: none;
border:0;
margin-top: -1px;
color: white;
border-radius: 0;
height: 5vh;
top:0;
left:0;
right:0;
  box-shadow: none;

}
.navbar-default .navbar-nav>li>a {
    color: white;
    min-height: 5vh;
    opacity: 0.4;
    font-family: 'Poppins';
      box-shadow: none!important;
      text-shadow: none!important;
      padding:40px;
      	font-size: 1.5em;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    --highlight:white;;
}
.imlo{
height: 200%;
margin-top: 8%;


}

.navbar-default .navbar-nav>.active>a{
	color:white;
	background: none;
	opacity: 1.0;

}
.navbar-nav>.active>a:hover{
	background: none!important;
	color:white!important;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
		canvas {
			height: 100%;
			position: fixed;
			bottom: 0;
			z-index: 1;
			right: 0px;
			display: block;
			outline: 0px;
		}


		.overlay{
			text-align: justify;
			color:black;
			font-family: 'Playfair Display';
			font-size:0.85em;
			line-height: 1.717;
			margin: 8vh 8vw;
		}

		.baaki{
			margin-top: 20vh;
		}
		.logo{
			height:30%;
			margin-top:4vh;
			border:2px solid white;
			padding:1vh 1vw;
		}
		.header{
			border-bottom: 2px solid white;
			padding-bottom: 0px;
		}
		input{
			margin-top: 15px;
			background: none;
			outline: none;
			border:0;
			border-bottom: 1px solid white;
			transition:1s all ease;
			width: 80%;
			color: white;
			padding-bottom: 12px;
			font-family: 'Montserrat';
		}
		.btn{
			padding:10px;
			border:2px solid white;
			color:white;
			transition: 0.5s all ease;
			background: none;
			font-family: 'Playfair Display';
			font-size: 1.2em;
			cursor: pointer;
			margin-top: 5vh;
			margin-bottom: 5vh;
			outline: none;
		}
		.btn:hover{
			color:#282828;
			background: white;
			outline: none;
		}

		input:focus{
		border-bottom: 1px solid #00a6f2;
		}

		@media (min-width: 767px){
			.overlay{
				max-width: 35vw;
				margin: 5vh 8vw;
			}
			canvas{
				display: block;
			}
			.baaki{
				margin-left: 40vw;
			width: 41vw;
		}
		}